{% extends "base.html" %}
{% block title%}Index Page{% endblock %} 

{% block content%}
  <body>
    <h1>Form to demonstrate the request of "POST" method.</h1>
    <form method="POST" action="{{ url_for('index') }}">
      <input type="text" name="username" placeholder="User Name"> <br>
      <input type="password" name="password" placeholder="Password"> <br>
      <input type="submit" value="Login">
    </form>

    <h1>File Upload</h1>
    <form method="POST" action="{{ url_for('file_upload')}}" enctype="multipart/form-data">
      <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required="required">
      <input type="submit" value="Upload File">
    </form>
    
{% endblock %}



<!-- <ul> -->
  <!-- <li>My value is <b>{{myvalue}}</b>.</li>
    <li>My result is <b>{{myresult}}</b>.</li> -->

  <!-- <li>My list is {{ list }}</li> -->
  <!-- <br /> -->
  <!-- <ul> -->
    <!-- {%for item in list%} {%if item==30%} -->
    <!-- <li style="color: red"><b>{{item}}</b></li> -->
    <!-- {%else%} -->
    <!-- <li><b>{{item}}</b></li> -->
    <!-- {%endif%} {%endfor%} -->
  <!-- </ul> -->
<!-- </ul> -->

<!-- <a href="{{ url_for('other') }}">Redirecting to Other Page</a> -->
