<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
    <ul>
      <!-- <li>My value is <b>{{myvalue}}</b>.</li>
        <li>My result is <b>{{myresult}}</b>.</li> -->

      <li>My list is {{ list }}</li>
      <br />
      <ul>
        {%for item in list%} {%if item==30%}
        <li style="color: red"><b>{{item}}</b></li>
        {%else%}
        <li><b>{{item}}</b></li>
        {%endif%} {%endfor%}
      </ul>
    </ul>
  </body>
</html>
